<h1>Chitter Sign Up page</h1>
<form action="/userdata" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" />
  <label for="name">Real Name</label>
  <input type="text" name="name" />
  <label for="email">Email</label>
  <input type="text" name="email" />
  <label for="password">Password</label>
  <input type="text" name="password" />
  <label for="password_confirmation">Confirm Password</label>
  <input type="text" name="password_confirmation" />
  <input type="submit" value="Sign Up">
</form>
